<div id="addressInputFields" class="popupMenu" ng-controller="EnterAddressCtrl">
	<div class="popupBox clearfix">
		<h5>Enter Address:</h5>
		<form ng-submit="storeAddress()" name="storeAddress">
			<label class="inputBox">
				<input
					id="addressLineInput"
					class="inputField"
					name="addressLine"
					type="text"
					ng-model="addrForm.addressLine"
					placeholder="Address Line"
					required>
			</label>
			<label class="inputBox">
				<input
					id="cityInput"
					name="city"
					type="text"
					class="inputField"
					ng-model="addrForm.city"
					placeholder="City"
					required>
			</label>
			<label class="inputBox">
				<input
					id="zipcodeInput"
					class="inputField"
					name="zipcode"
					type="number"
					ng-model="addrForm.zipcode"
					ng-minlength="5"
					ng-change="validateZipcode()"
					placeholder="Zip Code"
					required
					>
			</label>
			<label class="inputBox" ng-show="userLoggedIn()">
				<input
					id="nicknameInput"
					class="inputField"
					name="addressName" 
					type="text"
					ng-model="addrForm.addressName"
					placeholder="Nickname (optional)">
			</label>
			<div class="saveField disabledText" ng-show="userLoggedIn()">
				<label for="saveAddress">Save this Address
					<input id="saveAddress" name="saveAddress" type="checkbox" ng-model="addrForm.saveAddress" ng-disabled="storeAddress.$invalid || storeAddress.addressName.$pristine || (storeAddress.addressName.$dirty && addrForm.addressName.length === 0)">
				</label>
			</div>
			<button class="popupCancel smallButton cancelButton" ng-click="closeModal()" type="button">Cancel</button>
			<button type="submit" class="popupOk smallButton okButton" ng-disabled="storeAddress.$invalid" >Ok</button>
		</form>
	</div>
</div>

