<div data-popup="" class="popupMenu" ng-controller="OptionsCtrl">
	<div class="popupBox clearfix>">
		<h5>{{option.name}}</h5>
		<p class="itemDescription">{{option.descrip}}</p>
		<p class="error">{{optionErrMsg}}</p>
		
		<form ng-submit="storeOptions( option.min_child_select, option.max_child_select, option.id )">
			<ul class="dataItems">
				<li ng-repeat="choice in option.children">
					<label for="_{{choice.id}}">
						<span class="name">{{choice.name}}</span>
						<input
							id="_{{choice.id}}"
							name="{{ option.id }}"
							type="{{isType(option.min_child_select, option.max_child_select)}}"
							class=""
							ng-model="optionData[ option.id +'/'+ choice.id]"
							ng-true-value="{{ choice }}"
							ng-value="{{ choice }}"
							value="{{ choice }}"
							ng-click="checkRadio(option.min_child_select, option.max_child_select, option, choice)"
						>
						<p class="popupItemPrice">(${{choice.price}})</p>
					</label> 
				</li>
			</ul>
			<button class="popupCancel smallButton cancelButton" ng-click="closeModal()" type="button">Cancel</button>
			<button type="submit" class="popupOk smallButton okButton">Ok</button>
		</form>
	</div>
</div>

<!-- @TODO

prepopulate pre-selected user choices -->