<div id="chooseAddress" class="popupMenu radioMenu">
	<div class="popupBox clearfix">
		<h5>Choose Address:</h5>
		<ul class="dataItems">
			<li>
				<label for="_addressName" ng-click="chooseAddress('aid')">Home
					<input id="_addressName" name="chooseAddressOption" value="addressName" type="radio" class="">
				</label>
			</li>
			<button id="addNewAddress" class="bigButton buttonCenter popupButton" type="button" ng-click="popupModal('enterAddress')">New Address</button>
		</ul>
	</div>
</div>