<div class="itemReview clearfix">
	<h6 id="manageAddresses">Manage Addresses</h6>
</div>

<div class="itemReview clearfix">
	<h6 id="manageCards">Manage Cards</h6>
</div>

<h5 class="headerDivide">Personal Settings</h5>

<div class="itemReview clearfix" data-popupbutton="editName">
	<h6>Name: Jay Cardiello</h6>
</div>

<div class="itemReview clearfix" data-popupbutton="editEmail">
	<h6>Email: jay@cardiello.com</h6>
</div>

<div class="itemReview clearfix" data-popupbutton="editPhone">
	<h6>Phone: (347) 555-1234</h6>
</div>

<!-- insert singleItem modal -->