<form id="checkoutForm" name="checkoutForm" action="receipt.php" method="post">

	<div id="deliveryAddressBoxUser" class="popupButton">
		<h2 id="deliveryAddress" class="mainHeader">Delivery Address</h2>
		<div id="chosenAddress" class="screenItem">
			<h3>Choose Address</h3>
			<p>{{addressLine}}</p>
		</div>
	</div>
	
	<!-- insert savedAddresses modal -->

	<!-- Guest/No Saved Addresses View -->
	<div id="deliveryAddressBoxGuest" class="popupButton">
		<h2 id="deliveryAddress" class="mainHeader">Delivery Address</h2>
		<div id="chosenAddress" class="screenItem">
			<h3>Enter Address</h3>
		</div>
	</div>

	<!-- insert enterAddress modal -->

	<h2 id="paymentHeader" class="mainHeader">Payment</h2>

	<div class="inputArea">
		<ul class="inputItems">
			<div id="payWithCredit">

				<h5>Credit Card Info:</h5>
				<li class="inputBox">
					<input id="cardNameInput" name="cardNameInput" type="text" class="inputField" placeholder="Name on Card">
				</li>
				<li class="inputBox">
					<input id="cardNumberInput" name="cardNumberInput" type="text" class="inputField" placeholder="Card Number">
				</li>
				<li class="inputBox tertiaryBox">
					<select id="expmonth" name="expmonth" class="inputField">
						<option value="" disabled selected>MM</option>
						<option value="01">01</option>
						<option value="02">02</option>
						<option value="03">03</option>
						<option value="04">04</option>
						<option value="05">05</option>
						<option value="06">06</option>
						<option value="07">07</option>
						<option value="08">08</option>
						<option value="09">09</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
					</select>
				</li>
				<li class="inputBox tertiaryBox">
					<select name="expyear" class="inputField">
						<option value="" disabled selected>YY</option>
						<script>
							var myDate = new Date();

							var year = myDate.getFullYear();
							var year100 = year + 100;

							for(var i = year; i < year100; i++){
							  document.write('<option value="'+i+'">'+i+'</option>');
							}
						</script>
					</select>
				</li>
				<li class="inputBox tertiaryBox lastItem">
					<input id="cvv" name="cvv" type="password" placeholder="CVV" class="inputField">
				</li>

				<h5>Billing Address:</h5>
				<li class="inputBox">
					<input id="billingLine1Input" name="billingLine1" type="text" class="inputField" placeholder="Address Line 1">
				</li>
				<li class="inputBox">
					<input id="billingLine2Input" name="billingLine2" type="text" class="inputField" placeholder="Address Line 2">
				</li>
				<li class="inputBox">
					<input id="billingCityInput" name="billingCity" type="text" class="inputField" placeholder="City">
				</li>
				<li class="inputBox halfBox">
					<select id="billingStateInput" name="billingState" class="inputField">
						<option value="" disabled selected>State</option>
						<option value="AL">Alabama</option>
						<option value="AK">Alaska</option>
						<option value="AZ">Arizona</option>
						<option value="AR">Arkansas</option>
						<option value="CA">California</option>
						<option value="CO">Colorado</option>
						<option value="CT">Connecticut</option>
						<option value="DE">Delaware</option>
						<option value="DC">District Of Columbia</option>
						<option value="FL">Florida</option>
						<option value="GA">Georgia</option>
						<option value="HI">Hawaii</option>
						<option value="ID">Idaho</option>
						<option value="IL">Illinois</option>
						<option value="IN">Indiana</option>
						<option value="IA">Iowa</option>
						<option value="KS">Kansas</option>
						<option value="KY">Kentucky</option>
						<option value="LA">Louisiana</option>
						<option value="ME">Maine</option>
						<option value="MD">Maryland</option>
						<option value="MA">Massachusetts</option>
						<option value="MI">Michigan</option>
						<option value="MN">Minnesota</option>
						<option value="MS">Mississippi</option>
						<option value="MO">Missouri</option>
						<option value="MT">Montana</option>
						<option value="NE">Nebraska</option>
						<option value="NV">Nevada</option>
						<option value="NH">New Hampshire</option>
						<option value="NJ">New Jersey</option>
						<option value="NM">New Mexico</option>
						<option value="NY">New York</option>
						<option value="NC">North Carolina</option>
						<option value="ND">North Dakota</option>
						<option value="OH">Ohio</option>
						<option value="OK">Oklahoma</option>
						<option value="OR">Oregon</option>
						<option value="PA">Pennsylvania</option>
						<option value="RI">Rhode Island</option>
						<option value="SC">South Carolina</option>
						<option value="SD">South Dakota</option>
						<option value="TN">Tennessee</option>
						<option value="TX">Texas</option>
						<option value="UT">Utah</option>
						<option value="VT">Vermont</option>
						<option value="VA">Virginia</option>
						<option value="WA">Washington</option>
						<option value="WV">West Virginia</option>
						<option value="WI">Wisconsin</option>
						<option value="WY">Wyoming</option>
						<option value="AS">American Samoa</option>
						<option value="GU">Guam</option>
						<option value="MP">Northern Mariana Islands</option>
						<option value="PR">Puerto Rico</option>
						<option value="UM">United States Minor Outlying Islands</option>
						<option value="VI">Virgin Islands</option>
						<option value="AA">Armed Forces Americas</option>
						<option value="AP">Armed Forces Pacific</option>
						<option value="AE">Armed Forces Others</option>
					</select>	
				</li>
				<li class="inputBox halfBox lastItem">
					<input id="billZipcodeInput" name="billZipcode" type="number" class="inputField" placeholder="Zip Code">
				</li>
				<li class="saveField">
					<label for="saveCreditCard">Save this Card
						<input id="saveCreditCard" name="saveCreditCard" type="checkbox">
					</label>
				</li>
			</div>
			<h5>Contact Info:</h5>
			<li class="inputBox">
				<input id="phoneNumberInput" name="phonenumber" type="number" class="inputField" placeholder="Phone Number">
			</li>
			<li class="inputBox">
				<input id="emailInput" name="email" type="email" class="inputField" placeholder="Email">
			</li>
		</ul>
	</div>

	<!-- insert actionItem partial -->

	<!-- insert tip modal -->

	<button for="checkoutForm" id="purchase" class="actionButton actionRequired" type="submit">Send Me Food!</button>

</form>