<div class="menuItem itemBest" data-iid="{{iid}}">
	<h6>{{itemName}}</h6>
	<p class="itemPrice">${{itemPrice}}</p>
	<p class="itemDescription">{{itemDescription}}</p>
	<p class="error itemError"></p>
</div>

<div id="userChoices" class="itemOptionsBox">

	<h3>Been good lately? Treat yourself:</h3>

	<div class="itemOptions popupButton">
		<h4>{{optionName}}</h4>
		<p class="itemOptionSelections"><!-- @TODO insert selected choices --></p>
	</div>

</div>

<button id="addToOrder" class="actionButton" type="button">Add to Order</button>

<div id="modalBox" ng-include src='"modals/"+url+".html"' ng-show="displayModal"></div>