<div class="menuItem itemBest">
	<h6>{{item.name}}</h6>
	<p class="itemPrice">${{item.price}}</p>
	<p class="itemDescription">{{item.descrip}}</p>
	<p class="error itemError"></p>
</div>

<div id="userChoices" class="itemOptionsBox">

	<h3 ng-show="item.children.length">Choose your options:</h3>

	<div class="itemOptions popupButton" ng-repeat="option in item.children" ng-click="optionPopup(option)">
		<h4>{{option.name}}<span class="required" ng-show="option.min_child_select > 0">*</span></h4>
		<p class="itemOptionSelections">{{ optionsDisp[ option.id ] }}</p>
	</div>

</div>

<div id="orderTotal" class="actionInfo">
	<div class="itemPriceInfo">
		<h6>Item Price</h6>
		<p>${{item.price}}</p>
	</div>
	<div class="itemPriceInfo">
		<h6>Extras</h6>
		<p>${{extraPrice}}</p>
	</div>
	<div class="itemPriceInfo">
		<h6>TOTAL</h6>
		<p>${{totalPrice}}</p>
	</div>
</div>

<button class="actionButton" type="button" ng-show="fee == 1">(Restaurant Closed)</button>

<button 
	id="addToOrder"
	class="actionButton"
	type="button"
	ng-click="popupModal('quantity')"
	ng-show="itemOrderable">
		{{orderButton}}
</button>

<div id="modalBox" ng-include src='"modals/"+url+".html"' ng-show="displayModal"></div>