 <div id="menuContent">

	<div id="menuHeader" class="restaurantListingItem">
		<div class="topBox clearfix">
			<h5>{{menu.name}}</h5>
			<p class="distanceAway">{{distance}}</p>
		</div>
		<div class="bottomBox clearfix">
			<div class="feeWrapper">
				<p>Minimum Order: ${{restaurant.services.deliver.mino}}</p>
				<p><span ng-repeat="filter in restaurant.filters">{{filter}}, </p>
			</div>
			<div class="appleRating">
				<div class="appleWrapper">
					<img ng-src="images/apple{{ratingx}}.png">
					<img ng-src="images/apple{{ratingy}}.png">
					<img ng-src="images/apple{{ratingz}}.png">
				</div>
			</div>
		</div>
	</div>

	<div ng-show="mainTip" id='menuTip' class="healthTips">
		<h4>Jay's Tips</h4>
		<p>{{menu.tip}}</p>
	</div>

	<!-- Display each Category -->
	<div id="menuCategories" ng-repeat="category in menu.menu">
		<div class="catPanel">
			<h3 ng-click="accordionSelect(category.id)">{{category.name}}</h3>
			<div ng-show="accordionShow == category.id" class="catItems">
				<div class="healthTips">
					<p>{{category.tip}}</p>
				</div>

				<!-- Display each Category's Menu Item -->
				<div class="menuItem itemBest" ng-repeat="item in category.children" ng-click='viewItem(item.id)'>
					<h6>{{item.name}}</h6>
					<p class="itemPrice">${{item.price}}</p>
					<p class="itemDescription">{{item.descrip}}</p>
				</div>

			</div>
		</div>
	</div>

	<!-- Show only once item has been added to order -->
	<button id="reviewOrder" class="actionButton" type="button" ng-click="reviewOrder()">Review Your Order</button>

</div>