<h2 class="screenHeader">
	Create an Account<br>
	and</br>
	Save Your Cards &amp; Addressess
</h2>

<button id="createAccount" class="mediumButton buttonCenter popupButton" type="button">Yes, Please!</button>
<button id="skipCreate" class="mediumButton buttonCenter" type="button">No Thanks,<br>Take Me to My Receipt</button>

<p class="existingUser bottomLink popupButton">Already a member? Sign In</p>

<!-- insert newAccount modal -->

<!-- insert login modal -->

<!-- insert forgotPassword modal -->