<h2 class="screenHeader highHeader">Your Food is on the Way!</h2>

<p class="centerSubheader">Estimated time of Delivery: {{est}}</p>

<div class="restaurantListingItem restaurantHead clearfix">
	<h5>{{menu.name}}</h5>
	<p class="distanceAway">{{distance}}m</p>
</div>

<h2 id="yourOrder" class="mainHeader underLine">Your Order:</h2>

<div class="itemReview clearfix" ng-repeat="item in tray">
	<h6>{{item.name}}</h6>
	<p class="itemTotal">{{item.price * item.amount | currency}}</p>
	<p class="itemAmount">x {{item.amount}}</p>
</div>

<div id="orderReceiptAmount" class="actionInfo">
	<div class="itemPriceInfo">
		<h6>Subtotal</h6>
		<p>${{subtotal}}</p>
	</div>
	<div class="itemPriceInfo">
		<h6>Taxes/Fees</h6>
		<p>${{fee}}</p>
	</div>
	<div class="itemPriceInfo">
		<h6>TOTAL</h6>
		<p>${{total}}</p>
	</div>
</div>

<button id="backToHome" class="actionButton" type="button" ng-click="homeScreen()">Back to Home</button>