<h2 class="screenHeader highHeader">Your Food is on the Way!</h2>

<p class="centerSubheader">Estimated time of Delivery: {{deliveryTime}}</p>

<div class="restaurantListingItem restaurantHead clearfix">
	<h5>{{restName}}</h5>
	<p class="distanceAway">0.3m</p>
</div>

<h2 id="yourOrder" class="mainHeader underLine">Your Order:</h2>

<div class="itemReview clearfix">
	<h6>{{itemName}}</h6>
	<p class="itemTotal">${{itemPrice}}</p>
	<p class="itemAmount">x {{itemQuantity}}</p>
</div>

<!-- insert actionInfo modal -->

<button id="backToHome" class="actionButton" type="button">Back to Home</button>