<div id="restFilterButton" class="" ng-click='popupModal("restFilters")'>
	<input
		id="filterButton"
		name="filterButton"
		type="text"
		class="inputButton"
		ng-model="storage.filterDisplay"
		disabled="disabled"
	>
</div>

<div id="openRestaurants" class="restListing">

	<h6>Open &amp; Delivering</h6>

	<div ng-repeat="restaurant in restaurantList | filter: restFilter"> <!-- ng-class-even="'evenBox'" -->

		<div class="restaurantListingItem popupButton" ng-click="viewMenu(restaurant.id, restaurant.mino)" ng-show="restaurant.is_delivering==1" >
			<div class="topBox">
				<h5>{{restaurant.na}}</h5>
				<p class="distanceAway">0.3mi</p>
			</div>
			<div class="bottomBox">
				<div class="feeWrapper">
					<p>Minimum Order: ${{restaurant.mino}}</p>
					<p><span ng-repeat="filter in restaurant.filters">{{filter}}, </p>
				</div>
			</div>
		</div>

	</div>
</div>

<div id="closedRestaurants" class="restListing">

	<h6>Closed</h6>

	<div ng-repeat="restaurant in restaurantList | filter: restFilter"> <!-- ng-class-even="'evenBox'" -->

		<div class="restaurantListingItem popupButton" ng-click="viewMenu(restaurant.id, restaurant.mino)" ng-show="restaurant.is_delivering==0" >
			<div class="topBox">
				<h5>{{restaurant.na}}</h5>
				<p class="distanceAway">{{distance}}</p>
			</div>
			<div class="bottomBox">
				<div class="feeWrapper">
					<p>Minimum Order: ${{restaurant.services.deliver.mino}}</p>
					<p><span ng-repeat="filter in restaurant.filters">{{filter}}, </p>
				</div>
			</div>
		</div>

	</div>

</div>

</div>

<div id="modalBox" ng-include src='"modals/"+url+".html"' ng-show="displayModal"></div>