<div id="restFilterButton" class="subHeader popupButton">
	<input
		id="filterSearch"
		name="filterSearch"
		type="text"
		class="inputField popupButton"
		placeholder="Filter: All Menus"
		ng-model="filterDisplay"
		ng-click='popupModal("restFilters")'
		required readonly
	>
</div>

<!-- insert restFilters modal -->

<!-- @TODO prompt for confirmation of last-order abandonment -->

<div id="openRestaurants" class="restListing">

	<div>{{serviceDemo}}</div>

	<h6>Open &amp; Delivering</h6>

	<div ng-repeat="restaurant in restaurantList">

		<!-- ng-repeat -->
		<div class="restaurantListingItem" ng-click="viewMenu(restaurant.id)">
			<div class="topBox clearfix">
				<h5>{{restaurant.na}}</h5>
				<p class="distanceAway">{{distance}}</p>
			</div>
			<div class="bottomBox clearfix">
				<div class="feeWrapper">
					<p>Minimum Order: ${{restaurant.services.deliver.mino}}</p>
					<p><span ng-repeat="filter in restaurant.filters">{{filter}}, </p>
				</div>
				<div class="appleRating">
					<div class="appleWrapper">
						<img src="images/apple{{ratingx}}.png">
						<img src="images/apple{{ratingy}}.png">
						<img src="images/apple{{ratingz}}.png">
					</div>
				</div>
			</div>
		</div>

	</div>

</div>

<!-- @TODO work in closed restraunts -->

</div>
<div id="modalBox" ng-include src='"modals/"+url+".html"' ng-show="displayModal"></div>

<!-- 
@TODO

convert double-loop into single
 -->