<div id="restFilterButton" class="subHeader popupButton">
	<input
		id="filterSearch"
		name="filterSearch"
		type="text"
		class="inputField popupButton"
		ng-model="storage.filterDisplay"
		ng-click='popupModal("restFilters")'
		required readonly
	>
</div>

<!-- @TODO prompt for confirmation of last-order abandonment -->

<div id="openRestaurants" class="restListing">

	<h6>Open &amp; Delivering</h6>

	<div ng-repeat="restaurant in restaurantList | filter: restFilter ">

		<div class="restaurantListingItem" ng-click="viewMenu(restaurant.id)" ng-show="restaurant.is_delivering==1" >
			<div class="topBox clearfix">
				<h5>{{restaurant.na}}</h5>
				<p class="distanceAway">{{distance}}</p>
			</div>
			<div class="bottomBox clearfix">
				<div class="feeWrapper">
					<p>Minimum Order: ${{restaurant.services.deliver.mino}}</p>
					<p><span ng-repeat="filter in restaurant.filters">{{filter}}, </p>
				</div>
				<div class="appleRating">
					<div class="appleWrapper">
						<img ng-src="images/apple{{restaurant.rating > 0 ? 1 : 0}}.png">
						<img ng-src="images/apple{{restaurant.rating > 1 ? 1 : 0}}.png">
						<img ng-src="images/apple{{restaurant.rating > 2 ? 1 : 0}}.png">
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<div id="closedRestaurants" class="restListing">

	<h6>Closed</h6>

	<div ng-repeat="restaurant in restaurantList | filter: restFilter ">

		<div class="restaurantListingItem" ng-click="viewMenu(restaurant.id)" ng-show="restaurant.is_delivering==0" >
			<div class="topBox clearfix">
				<h5>{{restaurant.na}}</h5>
				<p class="distanceAway">{{distance}}</p>
			</div>
			<div class="bottomBox clearfix">
				<div class="feeWrapper">
					<p>Minimum Order: ${{restaurant.services.deliver.mino}}</p>
					<p><span ng-repeat="filter in restaurant.filters">{{filter}}, </p>
				</div>
				<div class="appleRating">
					<div class="appleWrapper">
						<img ng-src="images/apple{{restaurant.rating > 0 ? 1 : 0}}.png">
						<img ng-src="images/apple{{restaurant.rating > 1 ? 1 : 0}}.png">
						<img ng-src="images/apple{{restaurant.rating > 2 ? 1 : 0}}.png">
					</div>
				</div>
			</div>
		</div>

	</div>

</div>

</div>
<div id="modalBox" ng-include src='"modals/"+url+".html"' ng-show="displayModal"></div>