<div class="itemReview popupButton clearfix" ng-repeat="item in tray" ng-click="editOption(item.iid)">
	<h6>{{item.item.name}}</h6>
	<p class="itemTotal">${{item.item.price}}</p>
	<p class="itemAmount">x {{item.amount}}</p>
</div>

<button id="checkout" class="actionButton" type="button">Proceed to Checkout</button>






<!-- <div data-itemnumber='{{iid}}' class="itemReview popupButton clearfix">
	<h6>{{itemName}}</h6>
	<p class="itemTotal">${{itemPrice}}</p>
	<p class="itemAmount">x {{itemQuantity}}</p>
</div>

<button id="checkout" class="actionButton" type="button">Proceed to Checkout</button> -->

<div ng-controller="x">
	<div ng-controller="y"></div>
</div>