<div id="heroImage">
	<img src="images/noodles.png">
	<div id="dailyFitTip">
		<img src="images/leaf_white.svg">
		<h3>Cardiello Fit Tip:</h3>
		<p>An apple a day is a played out cliche. Do what I say, or fat you will stay.</p>
    </div>
</div>

<div id="restSearch">

	<div id="addressField" class="inputBox">
		<input
			id="addressSearch"
			name="addressSearch"
			type="text"
			class="inputField"
			placeholder="Location"
			ng-model="storage.deliveryAddressDisplay"
			ng-click='popupModal(selectAddress())'
			required readonly
		>
	</div>

	<div id="restFilterButton" class="inputBox">
		<input
			id="filterSearch"
			name="filterSearch"
			type="text"
			class="inputField"
			ng-model="storage.filterDisplay"
			ng-click='popupModal("restFilters")'
			required readonly
		>
	</div>

	<!-- <button id="loginButton" class="existingUser actionButton" type="button" ng-hide="userLoggedIn()">Login</button> -->
	<button id="searchRestaurants" class="actionButton" ng-click='restListQuery()' type="button" ng-show="showAction()">Find Restraunts</button>

</div>

<div id="modalBox" ng-include src='"modals/"+url+".html"' ng-show="displayModal"></div>